# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Python
__pycache__/
*.py[cod]
*$py.class
.python-version

# Python Environments
venv/
*.venv
env/
ENV/
.env/


# Distribution / packaging
.Python
build/
dist/
sdist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.env.*
!.env.example

# Compiled output
*.so
*.pyc

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node
node_modules/
dist/
dist-ssr/
*.local

# Nuxt project unwanted files
.nuxt/
.output/

# Yarn cache directory
.yarn/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# macOS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars # Usually ignore unless default/example values
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Frontend Build Output (Explicitly add)
build_output/

# Other
Design-Dock/
credentials/
responses/
*.pem
*.key
.vscode/

# Ignore specific potentially tracked files if necessary
# Example: /path/to/some/tracked/file.txt
